@charset "UTF-8";

 @font-face {
    font-family: 'face';
    src: url('fontes/idroid.otf') format('opentype');
 }
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #BEE4CD;
    margin: 0%;
    
    
}
 header{
    background-image: linear-gradient(to bottom, #31ba6f,  #1f6d42, #0f4126 );
    color: white;
    

    
}
header > h1{ 
   text-align: center;
   padding: 20px 0px 20px 0px;  
   margin: 0; 
}

header > p{
   text-align: center;
   margin: 0px auto 30px;
   
  
}


div > a {
   text-decoration: unset;
   color: white;
   font-weight: bolder;
   margin: 0px 15px;
   
   
}
div > a:hover{
   color:#091f13;
   text-decoration: underline;
}
main{
   background-color: white;
   margin: auto 15%;
   border-radius: 0px 0px 10px 10px;
   
   
}

  main>h1{
   font: normal normal 2em 'face';
   text-align: center;
   padding-top: 40px;
   color: #035c2c;
   margin: 0;
}
h2{
   font-family: 'face';
   color: #044925;
   background-image: linear-gradient(to left, white 10%,#3bc47952);
   margin: auto 20px;
   padding: 0px 0px 0px 14px;  
}
main>p{
   font: bold normal 1em arial;
   text-align: justify;
   margin: 20px 15px;
   padding: 10px;
   text-indent: 25px;
}
 
 picture > img{
   width: 90%;
   margin: auto 5%;
   padding: auto; 
 }
 img{
   width: 50%;
   margin: auto 20%;
   padding: auto;
 }
 
 div.video{
  background-color: #097c3d;  
  height: 500px;
  width: 100%;
}

.video > iframe{
   height:95%;
   width:95%;
   margin: 1% 2%; 
}

div.final{
   background-color: rgba(59, 227, 134, 0.326);
   border-radius: 10px 10px 10px 10px;
   font: bold normal 1em 'Arial';
   margin: 10px;
   height: 60%;
  
  
   
}
.final > h4{
   color: white;
   border-radius: 10px 10px 0px 0px;
   background-color: #2da563;
   height: 30px;
   margin: auto;
   padding: 10px 10px 0px 10px;
}

.final > p{
   text-align: justify;
   margin: 20px;
   text-indent: 30px;
   padding: 15px;
}

.final > ul{
   columns: 2;
}


.separado{
   margin-top: 10px;
}
footer{
   background-color: #0f4126;
   color: white;    
}
footer > p {
   margin: 0px;
   padding: 10px;
   text-align: center;
}
